body{
  font-family: 'Poppins', sans-serif !important;
  margin-top:20px;
  background:#eee;
  font-size: 14px !important;
}
.error{
  color:red;
}
.bg_background{
  background:#c35185ed;
}
.banner_img{
  height: 600px;
}
/* Navbar */
img.logo {
  width: 76px;
  height: auto;
  object-fit: cover;
}
a.btn-footer {
  color: #fff;
}
.btn-footer:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
  border-color: #000;
}
.navbar-nav a{
  font-size: 17px;;
  text-decoration: none;
}
input, select{
  height: 37px;
}
/* .navbar-nav .nav-item,.navbar-nav .myaccount, .navbar-nav .cart-item {
  margin-top: 16px;
} */
.latest-product{
  text-align: center!important;
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    font-size: 29px;
}
.cart_empty{
  padding: 8px 10px;
    text-align: center;
}
a.text-center.go_cart {
  width: 100%;
}
ul.dropdown-navbar-nav.dropdown-cart li {
  font-size: 14px;
}
.card-img-top {
  width: 100%;
  object-fit: contain;
  height: 150px;
}
li.nav-item a:hover {
  border-bottom: 4px solid #212529;
  color: #212529 !important;
}
.hero img.card-img {
  object-fit: cover;
}
a.text-center.go_cart {
  width: 90%;
  border-radius: 0;
  margin: 10px 0px 10px 10px;
}
.navbar-nav a.nav-link.active{
  border-bottom: 2px solid #212529;
  color: #212529 !important;
}
span.react-loading-skeleton {
  background: gainsboro;
  display: block;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}
.error-page{
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}

.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
      color: #fff
}

footer h6 {
margin-bottom: 40px;
position: relative;
}
i.fa.fa-inr {
  float: left;
  display: contents;
}
.media-body.p-4 a {
  text-decoration: none;
}
footer h6:after {
position: absolute;
content: "";
background: #fff;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: initial;
  margin: 4px 0px;
  display: inline-block;
}
span.item-left img {
  width: 38px;
}
.btn-footer:hover {         
  text-decoration: none;        
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
i.fa.fa-shopping-cart.me-1,i.fa.fa-user-plus.me-1 {
  font-size: 25px;
  padding: 0px 10px;
}
#lblCartCount {
  font-size: 12px;
  background: #e700ffed;
  color: #fff;
  vertical-align: top;
  position: relative;
  top: -39px;
  width: 21px;
  height: 21px;
  border-radius: 50% 50%;
  right: -29px;
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
.navbar-nav .nav-item {
  padding: 0px 16px;
}
li.nav-item {
  padding: 10px;
}
.navbar-nav a.nav-link {
  padding: 0px !important;
}
li.nav-item a.active {
  border-bottom: 2px solid #212529;
  color: #212529 !important;
  border-width: 4px;
}
::placeholder {
font-size: 16px;
padding-left: 10px;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color:#fff;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: #fff;
text-decoration:none;
}
.mini_cart{
  position: relative;
  top: 0;
  left: 81px;
}
.logo-part {
border-right: 1px solid #fff;
height: 100%;
}
/*************Mini Cart*****************/
.bigicon {    
  color:white;
}

.mix{
  min-height:370px;
}

ul.dropdown-cart {
  min-width: 250px;
  margin: 0;
  top: 63px;
  display: block;
  padding: 5px 0px 0px 0px;
  z-index: 9999999;
}

ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
  
}

ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}   
.go_cart{
  display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
/*Contact*/
.map{
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.map:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, rgba(7, 45, 72, 0.8), rgba(195, 195, 195, 0.8));
}




.content{
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	padding: 20px;
}


.contact{
	width: 100%;
	display: flex;
	 box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
 border-radius: 5px;
 overflow: hidden;
}


.other{
	width: 50%;
	background-image: url(https://images.unsplash.com/photo-1485119584289-30ca2b38c67e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
 flex-direction: column;
 justify-content: flex-end;
}


.other:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
}






.form{
	width: 40%;
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}
.form h1{
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}
.form form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.flex-rev {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
		width: 100%;
}

.flex-rev input, .flex-rev textarea {
    border: none;
    background-color: #e6e6e6;
    padding: 12px 10px;
    font-size: 16px;
    resize: none;
    margin-top: 7px;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #243342;
    outline-color: #243342;
    outline-width: thin;
	 -webkit-appearance: none;
}
.flex-rev textarea{
	height: 150px;
}
button{
	-webkit-appearance: none;
	margin-right: 0;
}


.info {
    position: relative;
    padding: 20px;
}

.checkout h6{
  font-size: 14px;
}

.info h2 {
    color: #16f1dc;
    font-size: 34px;
}

.info h3 {
    color: white;
    letter-spacing: 1.2px;
    margin-top:  20px;
}

.svg-wrap {
    display: flex;
    margin-top: 14px;
}

.svg-wrap a {
    border: 0;
    padding: 0;
    display: flex;
    color: #bbbbbb;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.svg-wrap a svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease-in-out;
    margin-right: 13px;
}

.svg-wrap a:hover svg {
    fill: #16f1dc;
    cursor: pointer;
}

.svg-wrap a:hover {
    background-color: transparent;
    color: #16f1dc;
    cursor: pointer;
}



@media screen and (max-width: 900px){
	.content{
		padding: 10px 0 0;
		display: block;
	}
	.map{
		display: none;
	}
	.contact{
		width: 100%;
		flex-direction: column-reverse;
		border-radius: 0;
		box-shadow: 0px 0px 0px 0px;
	}
	.other{
		width: 100%;
		padding: 20px 0;
	}
	.form{
		width: 100%;
	}
}
.about p{
  line-height: 2em;
}
@media screen and (max-width:767px){
  .coupan_sec {
    width: 100% !important;
    padding: 24px 16px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.msite_content p {
  font-size: 13px !important;
}
.msite_content h5 {
  font-size: 22px !important;
  text-transform: uppercase;
}
.coupan_sec input {
  width: 100%;
  margin-bottom: 10px;
  text-align: start;
}
button.coupanBtn {
  width: 100%;
}
  .navbar-nav a.nav-link {
    padding: 10px !important;
    text-align: center;
    text-align-last: justify;
  }
  .footer_menu li a:hover{
    color:#000;
  }
  .btn-footer {
    margin: 14px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  ul.footer_menu li {
    margin-right: 10px;
    display: inline-block;
}
ul.footer_menu {
  width: 100%;
}

  .banner_img {
    height: 300px;
    object-fit: cover;
}
  .navbar-nav .nav-item {
    padding: 0px;
}
.navbar-nav a.nav-link.active {
  border-bottom: none;
  color: #212529 !important;
}
#lblCartCount {
  font-size: 12px;
  background: #e700ffed;
  color: #fff;
  vertical-align: top;
  position: relative;
  top: -51px;
  width: 21px;
  height: 21px;
  border-radius: 50% 50%;
  right: -39px;
}
}
@media screen and (max-height: 660px){
	.content{
		align-items: flex-start;
	}
}


@media screen and (max-width: 660px){
    nav .hamburger{
        opacity: 1;
        pointer-events: initial;
    }
    nav div.linkWrapper{
        top: 0;
        right: 0;
        position: fixed;
        height: 100vh;
        background-color: rgba(36, 51, 66, 0.9);
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.3);
        width: 100%;
        justify-content: center;
        will-change: transform;
        opacity: 0;
        display: none;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }


}